{% extends 'layout/base.twig' %}

{% block content %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>URL</th>
            <th>Time</th>
            <th><span class="tip" title="Wall time">wt</span></th>
            <th><span class="tip" title="CPU time">cpu</span></th>
            <th><span class="tip" title="Memory Usage">mu</span></th>
            <th><span class="tip" title="Peak Memory Usage">pmu</span></th>
        </tr>
    </thead>
    <tbody>
    {% for result in runs %}
    <tr>
        <td><a href="/run.php?id={{ result._id  }}">{{ result['meta']['url'] }}</a></td>
        <td>{{ result['meta']['SERVER']['REQUEST_TIME']|date(constant('DATE_FORMAT')) }}</td>
        <td>{{ result['profile']['main()']['wt'] }}</td>
        <td>{{ result['profile']['main()']['cpu'] }}</td>
        <td>{{ result['profile']['main()']['mu'] }}</td>
        <td>{{ result['profile']['main()']['pmu'] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
