{% extends 'layout/base.twig' %}
{% import 'macros/helpers.twig' as helpers %}

{% block content %}
<h1>{{ title }}</h1>

{% if runs.count or has_search %}
<div class="searchbar clearfix">
<form action="{{ url('/index.php') }}" method="get" class="form-inline">
    <div class="control-group span4">
        <label class="control-label" for="start_date">Date range</label>
        <div class="controls">
            <input type="text" data-date-format="yyyy-mm-dd" id="date_start" name="date_start" class="datepicker span2" value="{{ search.date_start }}">
            <input type="text" id="date_end" data-date-format="yyyy-mm-dd" name="date_end" class="datepicker span2" value="{{ search.date_end }}">
        </div>
    </div>
    <div class="control-group span4">
        <label class="control-label" for="url">URL</label>
        <div class="controls">
            <input type="text" id="url" name="url" value="{{ search.url }}">
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
</div>
{% endif %}

{# No run data, and no search, must be just getting started #}
{% if not runs.count and not has_search %}
<div class="hero-unit">
    <h3>Looks like you haven't done any profiling</h3>
    <p>To get started with XHGUI you'll need to collect some profiling data.</p>
    <p>The simplest way to get an application profiled, is to use <code>external/header.php</code>.
        This file is designed to be combined with PHP's
        <a href="http://www.php.net/manual/en/ini.core.php#ini.auto-prepend-file">auto_prepend_file</a>
        directive. This can be enabled system-wide through `php.ini`. Alternatively, you can enable
        <code>auto_prepend_file</code> per virtual host. See the README.md file for more details.
    </p>
</div>
{% endif %}

{% if runs.count or has_search %}
<table class="table table-hover table-sort">
    <thead>
        <tr>
            <th>URL</th>
            <th>Time</th>
            <th class="right"><span class="tip" title="Wall time">wt</span></th>
            <th class="right"><span class="tip" title="CPU time">cpu</span></th>
            <th class="right"><span class="tip" title="Memory Usage">mu</span></th>
            <th class="right"><span class="tip" title="Peak Memory Usage">pmu</span></th>
        </tr>
    </thead>
    <tbody>
    {% for result in runs %}
    <tr>
        <td><a href="{{ url('/url.php', {'url': result.meta.url|simple_url }) }}">{{ result.meta.url }}</a></td>
        <td><a href="{{ url('/run.php', {'id': result._id|trim }) }}">{{ result['meta']['SERVER']['REQUEST_TIME']|date(date_format) }}</a></td>
        <td class="right">{{ result.profile['main()']['wt'] |as_time }}</td>
        <td class="right">{{ result.profile['main()']['cpu'] |as_bytes }}</td>
        <td class="right">{{ result.profile['main()']['mu'] |as_bytes }}</td>
        <td class="right">{{ result.profile['main()']['pmu'] |as_bytes }}</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="6" class="no-results">
            Your search conditions matched no runs. Try changing you search criteria.
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}

{% if runs.count %}
    {{ helpers.pagination('/index.php', page, total_pages, search) }}
{% endif %}

{% endblock %}

