{% extends 'layout/base.twig' %}

{% block content %}
<h2>Runs for {{ url }} (simplified)</h2>

<div class="row-fluid">
    <div id="wt-line-graph" class="span6">
    </div>
    <div class="span6">
        <div id="cpu-line-graph" class="row-fluid"></div>
        <div id="mu-line-graph" class="row-fluid"></div>
        <div id="pmu-line-graph" class="row-fluid"></div>
    </div>
</div>

<div class="row-fluid">
    <table class="table table-hover table-sort">
        <thead>
            <tr>
                <th>URL</th>
                <th>Time</th>
                <th class="right"><span class="tip" title="Wall time">wt</span></th>
                <th class="right"><span class="tip" title="CPU time">cpu</span></th>
                <th class="right"><span class="tip" title="Memory Usage">mu</span></th>
                <th class="right"><span class="tip" title="Peak Memory Usage">pmu</span></th>
            </tr>
        </thead>
        <tbody>
        {% for result in runs %}
        <tr>
            <td><a href="{{ url('/url.php', {'url': result.meta.url}) }}">{{ result.meta.url }}</a></td>
            <td><a href="{{ url('/run.php', {'id': result._id|trim }) }}">{{ result['meta']['SERVER']['REQUEST_TIME']|date(constant('DATE_FORMAT')) }}</a></td>
            <td class="right">{{ result.profile['main()']['wt'] |as_time }}</td>
            <td class="right">{{ result.profile['main()']['cpu'] |as_bytes }}</td>
            <td class="right">{{ result.profile['main()']['mu'] |as_bytes }}</td>
            <td class="right">{{ result.profile['main()']['pmu'] |as_bytes }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block jsfoot %}
<script>
$(document).ready(function () {
    var graphData = {{ chart_data|json_encode|raw }};
    Xhgui.linegraph('#wt-line-graph', graphData, {
        series: 'wt',
        height: 400,
        xAxis: 'time',
        title: 'Wall time'
    });
    Xhgui.linegraph('#cpu-line-graph', graphData, {
        series: 'cpu',
        height: 100,
        xAxis: 'time',
        title: 'CPU usage'
    });
    Xhgui.linegraph('#mu-line-graph', graphData, {
        series: 'mu',
        height: 100,
        xAxis: 'time',
        title: 'Memory Usage'
    });
    Xhgui.linegraph('#pmu-line-graph', graphData, {
        series: 'pmu',
        height: 100,
        xAxis: 'time',
        title: 'Peak Memory Usage'
    });
});
</script>
{% endblock %}
