{% extends 'layout/base.twig' %}
{% import 'macros/helpers.twig' as helpers %}

{% block title %}
Url - {{ url }}
{% endblock %}

{% block content %}
<h1>Runs for {{ url }} (simplified)</h1>

<div class="row-fluid">
    <div id="time-line-graph" class="chart-container span6"></div>
    <div id="memory-line-graph" class="chart-container span6"></div>
</div>

<div class="searchbar clearfix">
    <a href="#" class="pull-right btn btn-small search-expand" title="Show search form">
        <i class="icon-search"></i> Search
    </a>

    <form action="{{ url('/url.php') }}" method="get" class="row hide search-form form-inline">
        <input type="hidden" name="url" value="{{ search.url }}" />
        <a href="#" class="search-collapse close" title="Hide search form">&times;</a>
        <div class="control-group span4">
            <label class="control-label" for="start_date">Date range</label>
            <div class="controls">
                <input type="text" data-date-format="yyyy-mm-dd" id="date_start" name="date_start" class="datepicker span2" value="{{ search.date_start }}">
                <input type="text" id="date_end" data-date-format="yyyy-mm-dd" name="date_end" class="datepicker span2" value="{{ search.date_end }}">
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>

{% include 'runs/paginated-list.twig' %}

{{ helpers.pagination(url('/url.php', {'url': url}), paging) }}

{% endblock %}

{% block jsfoot %}
<script>
$(document).ready(function () {
    var graphData = {{ chart_data|json_encode|raw }};
    Xhgui.linegraph('#time-line-graph', graphData, {
        series: ['avg_wt', 'avg_cpu'],
        height: 300,
        xAxis: 'date',
        title: 'Time usage',
        legend: ['Wall time', 'CPU time'],
        postfix: ' \u00b5s',
    });
    Xhgui.linegraph('#memory-line-graph', graphData, {
        series: ['avg_mu', 'avg_pmu'],
        height: 300,
        xAxis: 'date',
        title: 'Memory usage',
        legend: ['Memory usage', 'Peak memory usage'],
        postfix: ' bytes'
    });
});
</script>
{% endblock %}
