{% extends 'layout/base.twig' %}

{% block content %}
<div class="row-fluid">

<div class="span4">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">This Run</li>
            <li>URL: {{ result.meta.url }}</li>
            <li>Time: {{ result.meta.SERVER.REQUEST_TIME|date('r') }}</li>
            <li>Wall Time: {{ result.profile['main()'].wt }}</li>
            <li>CPU Time: {{ result.profile['main()'].cpu }}</li>
            <li>Memory Usage: {{ result.profile['main()'].mu }}</li>
            <li>Peak Memory Usage: {{ result.profile['main()'].pmu }}</li>
            <li class="nav-header">95th Percentile</li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>

            <li class="nav-header">Environment</li>
            <li>

            </li>
        </ul>
    </div><!--/.well -->
</div><!--/span-->

<div class="span8">
    <div class="row-fluid">

    <div class="span4">
      <h2>Watch Functions</h2>
        <table class="table table-hover">
        <thead>
            <tr>
                <th>Function</th>
                <th>Call Count</th>
                <th><span class="tip" title="Exclusive wall time">ewt</span></th>
                <th><span class="tip" title="Exclusive memory use">emu</span></th>
                <th><span class="tip" title="Exclusive peak memory use">epmu</span></th>
            </tr>
        </thead>
        <tbody>
        {% for key, value in watches %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value.ct|number_format }}</td>
            <td>{{ value.ewt|number_format }}</td>
            <td>{{ value.emu|number_format }}</td>
            <td>{{ value.epmu|number_format }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div><!--/span-->



    <div class="span8">
      <h2>Exclusive Wall Time</h2>
      <p>I should have a pie chart of these values</p>
      <ul>
      {% for key, value in pie_data %}
      <li>{{ key }} &mdash; {{ value.ewt }} <span class="units">ms</span></li>
      {% endfor %}
      </ul>
    </div><!--/span-->

  </div><!--/row-->

  <div class="row-fluid">
    <div class="span4">
      <h2>Memory Users</h2>
      {% for key, value in memory %}
      <li>{{ key }} &mdash; {{ value.mu|number_format }} <span class="units">bytes</span></li>
      {% endfor %}
    </div><!--/span-->
  </div><!--/row-->

  <table class="table table-hover">
    <thead>
        <tr>
            <th>Function</th>
            <th>Call Count</th>
            <th>Exclusive Wall Time</th>
            <th>Exclusive CPU</th>
            <th>Exclusive Memory Usage</th>
            <th>Exclusive Peak Memory Usage</th>
            <th>Inclusive Wall Time</th>
            <th>Inclusive CPU</th>
            <th>Inclusive Memory Usage</th>
            <th>Inclusive Peak Memory Usage</th>
        </tr>
    </thead>
    <tbody>
    {% for key, value in profile %}
    <tr>
        <td>{{ key }}</td>
        <td>{{ value.ct }}</td>
        <td>{{ value.ewt }}</td>
        <td>{{ value.ecpu }}</td>
        <td>{{ value.emu }}</td>
        <td>{{ value.epmu }}</td>
        <td>{{ value.wt }}</td>
        <td>{{ value.cpu }}</td>
        <td>{{ value.mu }}</td>
        <td>{{ value.pmu }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div><!--/span-->
</div><!--/row-->
{% endblock %}
