{% extends 'layout/base.twig' %}
{% import 'macros/helpers.twig' as helpers %}

{% block content %}
<div class="row-fluid">
    <h2>Profile data for {{ result.meta.url }}</h2>
</div>
<div class="row-fluid">
<div class="span3">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">This Run</li>
            <li><strong>URL</strong> {{ result.meta.url }}</li>
            <li><strong>Time</strong> {{ result.meta.SERVER.REQUEST_TIME|date('r') }}</li>
            <li><strong>Wall Time</strong> {{ result.profile['main()'].wt|as_time }}</li>
            <li><strong>CPU Time</strong> {{ result.profile['main()'].cpu|as_time }}</li>
            <li><strong>Memory Usage</strong> {{ result.profile['main()'].mu|as_bytes }}</li>
            <li><strong>Peak Memory Usage</strong> {{ result.profile['main()'].pmu|as_bytes }}</li>

            <li class="nav-header">95th Percentile</li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>

            <li class="nav-header">GET</li>
            <li>
            {{ helpers.request_table('GET', result.meta.get) }}
            </li>

            <li class="nav-header">SERVER</li>
            <li>
            {{ helpers.request_table('SERVER', result.meta.SERVER) }}
            </li>

            <li class="nav-header">ENV</li>
            <li>
            {{ helpers.request_table('ENV', result.meta.env) }}
            </li>
        </ul>
    </div><!--/.well -->
</div><!--/span-->

<div class="span9">
    <div class="row-fluid">

    <div class="span4">
      <h2>Watch Functions</h2>
        <table class="table table-hover">
        <thead>
            <tr>
                <th>Function</th>
                <th>Call Count</th>
                <th><span class="tip" title="Exclusive wall time">ewt</span></th>
                <th><span class="tip" title="Exclusive memory use">emu</span></th>
                <th><span class="tip" title="Exclusive peak memory use">epmu</span></th>
            </tr>
        </thead>
        <tbody>
        {% for key, value in watches %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value.ct|as_time }}</td>
            <td>{{ value.ewt|as_time }}</td>
            <td>{{ value.emu|as_bytes }}</td>
            <td>{{ value.epmu|as_bytes }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div><!--/span-->



    <div class="span8">
      <h2>Exclusive Wall Time</h2>
      <p>I should have a pie chart of these values</p>
      <ul>
      {% for key, value in pie_data %}
      <li>{{ key }} &mdash; {{ value.ewt|as_time }}</li>
      {% endfor %}
      </ul>
    </div><!--/span-->

  </div><!--/row-->

  <div class="row-fluid">
    <div class="span4">
      <h2>Memory Users</h2>
      {% for key, value in memory %}
      <li>{{ key }} &mdash; {{ value.mu|as_bytes }}</li>
      {% endfor %}
    </div><!--/span-->
  </div><!--/row-->

</div>

<div class="row-fluid">
  <table class="table table-hover">
    <thead>
        <tr>
            <th>Function</th>
            <th>Call Count</th>
            <th>Exclusive Wall Time</th>
            <th>Exclusive CPU</th>
            <th>Exclusive Memory Usage</th>
            <th>Exclusive Peak Memory Usage</th>
            <th>Inclusive Wall Time</th>
            <th>Inclusive CPU</th>
            <th>Inclusive Memory Usage</th>
            <th>Inclusive Peak Memory Usage</th>
        </tr>
    </thead>
    <tbody>
    {% for key, value in profile %}
    <tr>
        <td>{{ key }}</td>
        <td>{{ value.ct|as_time }}</td>
        <td>{{ value.ewt|as_time }}</td>
        <td>{{ value.ecpu|as_time }}</td>
        <td>{{ value.emu|as_bytes }}</td>
        <td>{{ value.epmu|as_bytes }}</td>
        <td>{{ value.wt|as_time }}</td>
        <td>{{ value.cpu|as_time }}</td>
        <td>{{ value.mu|as_bytes }}</td>
        <td>{{ value.pmu|as_bytes }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div><!--/row-->
{% endblock %}
