{# Template fragment for comparing two runs. #}
<h3>Summary</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th class="right">Number of function calls</th>
            <th class="right">Inclusive Wall time</th>
            <th class="right">Inclusive CPU</th>
            <th class="right">Inclusive Memory</th>
            <th class="right">Inclusive Peak Memory</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                <span class="badge compare-base">
                    base - {{ comparison.base.date|date(date_format) }}
                </span>
                <a target="_blank" href="{{ url('run.view', {id: comparison.base.id|trim}) }}">
                    {{ comparison.base.id }}
                </a>
            </th>
            <td class="right">{{ comparison.base.functionCount }}</td>
            <td class="right">{{ comparison.base.get('main()', 'wt') |as_time }}</td>
            <td class="right">{{ comparison.base.get('main()', 'cpu') |as_time }}</td>
            <td class="right">{{ comparison.base.get('main()', 'mu') |as_bytes }}</td>
            <td class="right">{{ comparison.base.get('main()', 'pmu') |as_bytes }}</td>
        </tr>
        <tr>
            <th>
                <span class="badge compare-head">
                    new - {{ comparison.head.date|date(date_format) }}
                </span>
                <a target="_blank" href="{{ url('run.view', {id: comparison.head.id|trim}) }}">
                    {{ comparison.head.id }}
                </a>
            </th>
            <td class="right">{{ comparison.head.functionCount }}</td>
            <td class="right">{{ comparison.head.get('main()', 'wt') |as_time }}</td>
            <td class="right">{{ comparison.head.get('main()', 'cpu') |as_time }}</td>
            <td class="right">{{ comparison.head.get('main()', 'mu') |as_bytes }}</td>
            <td class="right">{{ comparison.head.get('main()', 'pmu') |as_bytes }}</td>
        </tr>
        <tr>
            <th>Difference</th>
            <td class="right">{{ comparison.diff.functionCount }}</td>
            <td class="right">{{ comparison.diff['main()'].wt|as_time }}</td>
            <td class="right">{{ comparison.diff['main()'].cpu|as_time }}</td>
            <td class="right">{{ comparison.diff['main()'].mu|as_bytes }}</td>
            <td class="right">{{ comparison.diff['main()'].pmu|as_bytes }}</td>
        </tr>
        <tr>
            <th>Difference %</th>
            <td class="right">{{ comparison.diffPercent.functionCount|as_percent }}</td>
            <td class="right">{{ comparison.diffPercent['main()'].wt|as_percent }}</td>
            <td class="right">{{ comparison.diffPercent['main()'].cpu|as_percent }}</td>
            <td class="right">{{ comparison.diffPercent['main()'].mu|as_percent }}</td>
            <td class="right">{{ comparison.diffPercent['main()'].pmu|as_percent }}</td>
        </tr>
    </tbody>
</table>


<div class="pull-right form-search">
  <input type="search" id="function-filter" placeholder="Filter by function name" />
</div>

<h3>Details</h3>

<table class="table table-hover table-sort" id="filter-table">
    <thead>
        <tr>
            <th>Function</th>
            <th>Call Count</th>
            <th>Self Wall Time</th>
            <th>Self CPU</th>
            <th>Self Memory Usage</th>
            <th>Self Peak Memory Usage</th>
            <th>Inclusive Wall Time</th>
            <th>Inclusive CPU</th>
            <th>Inclusive Memory Usage</th>
            <th>Inclusive Peak Memory Usage</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in comparison.diff %}
        <tr>
            <td class="text">
                <a href="{{ url('run.symbol', {'id': comparison.head.id|trim, 'symbol': key}) }}">{{ key }}</a>
            </td>
            <td class="right">{{ value.ct|as_diff }}</td>
            <td class="right">{{ value.ewt|as_diff }}</td>
            <td class="right">{{ value.ecpu|as_diff }}</td>
            <td class="right">{{ value.emu|as_diff }}</td>
            <td class="right">{{ value.epmu|as_diff }}</td>
            <td class="right">{{ value.wt|as_diff }}</td>
            <td class="right">{{ value.cpu|as_diff }}</td>
            <td class="right">{{ value.mu|as_diff }}</td>
            <td class="right">{{ value.pmu|as_diff }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Red values are higher in 'new'. Green values are lower in 'new'.</p>
