{% extends 'layout/base.twig' %}
{% import 'macros/helpers.twig' as helpers %}

{% block title %}
- Symbol - {{ symbol }}
{% endblock %}

{% block content %}
<div class="row-fluid">
    <a class="back-link" href="{{ url('run.view', {'id': id}) }}">&laquo; Back to run</a>
    <h1>Function Details</h1>
    <h3 class="function-name">{{ symbol }}</h3>
</div>
<div class="row-fluid">
    <h3>Current function</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Function</th>
                <th>Call Count</th>
                <th>Self Wall Time</th>
                <th>Self CPU</th>
                <th>Self Memory Usage</th>
                <th>Self Peak Memory Usage</th>
                <th>Inclusive Wall Time</th>
                <th>Inclusive CPU</th>
                <th>Inclusive Memory Usage</th>
                <th>Inclusive Peak Memory Usage</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text">
                {{ helpers.tip_link(
                    current.function,
                    65,
                    'run.symbol',
                    {'id': id, 'symbol': current.function}
                ) }}
                <br>
                Percent of total request
            </td>
            <td>{{ current.ct }}</td>
            <td>{{ current.ewt|as_time }}</td>
            <td>{{ current.ecpu|as_time }}</td>
            <td>{{ current.emu|as_bytes }}</td>
            <td>{{ current.epmu|as_bytes }}</td>

            <td>{{ helpers.time_and_percent('wt', current, main) }}</td>
            <td>{{ helpers.time_and_percent('cpu', current, main) }}</td>
            <td>{{ helpers.bytes_and_percent('mu', current, main) }}</td>
            <td>{{ helpers.bytes_and_percent('pmu', current, main) }}</td>
        </tr>
        </tbody>
    </table>

    <h3>Parent functions</h3>
    <table class="table table-hover table-sort">
        <thead>
            <tr>
                <th>Function</th>
                <th>Call Count</th>
                <th>Self Wall Time</th>
                <th>Self CPU</th>
                <th>Self Memory Usage</th>
                <th>Self Peak Memory Usage</th>

                <th>Inclusive Wall Time</th>
                <th>Inclusive CPU</th>
                <th>Inclusive Memory Usage</th>
                <th>Inclusive Peak Memory Usage</th>
            </tr>
        </thead>
        <tbody>
        {% for parent in parents %}
        <tr>
            <td class="text">
                {{ helpers.tip_link(
                    parent.function,
                    65,
                    'run.symbol',
                    {'id': id, 'symbol': parent.function}
                ) }}
                <br>
                Percent of total request
            </td>
            <td>{{ parent.ct }}</td>
            <td>{{ parent.ewt|as_time }}</td>
            <td>{{ parent.ecpu|as_time }}</td>
            <td>{{ parent.emu|as_bytes }}</td>
            <td>{{ parent.epmu|as_bytes }}</td>

            <td>{{ helpers.time_and_percent('wt', parent, main) }}</td>
            <td>{{ helpers.time_and_percent('cpu', parent, main) }}</td>
            <td>{{ helpers.bytes_and_percent('mu', parent, main) }}</td>
            <td>{{ helpers.bytes_and_percent('pmu', parent, main) }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Child functions</h3>
    <table class="table table-hover table-sort">
        <thead>
            <tr>
                <th>Function</th>
                <th>Call Count</th>

                <th>Inclusive Wall Time</th>
                <th>Inclusive CPU</th>
                <th>Inclusive Memory Usage</th>
                <th>Inclusive Peak Memory Usage</th>
            </tr>
        </thead>
        <tbody>
        {% for child in children %}
        <tr>
            <td class="text">
                {{ helpers.tip_link(
                    child.function,
                    65,
                    'run.symbol',
                    {'id': id, 'symbol': child.function}
                ) }}
            </td>
            <td class="right">{{ child.ct }}</td>

            <td class="right">{{ child.wt|as_time }}</td>
            <td class="right">{{ child.cpu|as_time }}</td>
            <td class="right">{{ child.mu|as_bytes }}</td>
            <td class="right">{{ child.pmu|as_bytes }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">{{ symbol }} called no functions.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
