{% extends 'layout/base.twig' %}
{% import 'macros/helpers.twig' as helpers %}

{% block title %}
- Watch - list
{% endblock %}

{% block content %}
<h1>Watch functions</h1>

<p>
Watch functions allow you to set function name/patterns that
you want to see at the top of each run result page.
</p>
<p>
Watches can either be exact matches or use PCRE patterns
to match multiple function names.
</p>

<form class="form-stacked" action="{{ url('watch.save') }}" method="post">
{% if watched|length %}
    <ul class="unstyled watch-list">
        {% for i, watch in watched %}
        <li>
            <input name="watch[{{ i }}][_id]" type="hidden" value="{{ watch._id }}" />
            <input name="watch[{{ i }}][removed]" type="hidden" class="removed" value="0" />
            <input class="input-xlarge" name="watch[{{ i }}][name]" type="text" value="{{ watch.name }}" />
            <a href="#" class="btn btn-small btn-warning watch-delete">Remove</a>
        </li>
        {% endfor %}
        <li id="new-row-template">
            <input class="input-xlarge" name="watch[{{ watched|length }}][name]" type="text" />
            <a href="#" class="btn btn-small btn-warning watch-delete">Remove</a>
        </li>
    </ul>
    <p class="offset2">
        <a href="#" id="add-new-watch" class="btn">Add another</a>
    </p>

    <div class="form-actions">
        <input class="btn btn-large btn-primary" type="submit" value="Save" />
    </div>
{% else %}
    <div class="hero-unit">
        <h3>You have no watch functions</h3>
        <p>Watch functions let you pluck function names
        you're interested in to the top of run reports.</p>
        <p>Add one to get started</p>
        <input name="watch[0][name]" type="text" />
        <input class="btn btn-primary" type="submit" value="Save" />
    </div>
{% endif %}

</form>

{% endblock %}

{% block jsfoot %}
<script>
$(document).ready(function () {
    var template = $('#new-row-template').html();
    var list = $('.watch-list');
    var placeholder = list.children().length - 1;

    $('.watch-list').on('click', '.watch-delete', function () {
        var row = $(this).parent();
        row.fadeOut('fast', function () {
            row.find('.removed').val(1);
        });
        return false;
    });

    $('#add-new-watch').on('click', function () {
        var numElements = list.children().length;
        var insert = template.replace(placeholder, numElements);
        list.append('<li>' + insert + '</li>');
        return false;
    });
});
</script>
{% endblock %} 
