{% extends 'layout/base.twig' %}
{% import 'macros/helpers.twig' as helpers %}

{% block content %}
<h1>Watch functions</h1>

{% if saved %}
<div class="alert alert-success">
	Watch functions updated.
</div>
{% endif %}

<form action="{{ url('/watch.php') }}" method="post">

{% if watched|length %}
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Function</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
		{% for i, watch in watched %}
		<tr>
			<td>
				<input name="watch[{{ i }}][id]" type="hidden" value="{{ watch.id }}" />
				<input name="watch[{{ i }}][name]" type="text" value="{{ watch.name }}" />
			</td>
			<td>
				<a href="#" class="watch-delete">Delete</a>
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td>
				<input name="watch[{{ watched|length }}][name]" type="text" />
			</td>
			<td>&nbsp;</td>
		</tr>
		</tbody>
	</table>

	<input class="btn btn-primary" type="submit" value="Save" />
{% else %}
	<div class="hero-unit">
		<h3>You have no watch functions</h3>
		<p>Watch functions let you pluck function names
		you're interested in to the top of run reports.</p>
		<p>Add one to get started</p>
		<input name="watch[0][name]" type="text" />
		<input class="btn btn-primary" type="submit" value="Save" />
	</div>
{% endif %}

</form>

{% endblock %}
